.VSCodeCounter/
.vscode/
src/testgames/stockfish
src/testgames/lichess_db_standard_rated_2014-10.pgn
src/testgames/output.txt
test
*.out
Null-Move-Test-Positions.txt
src/testgames/.venv/
temp/
*.prof
*.pgn
*.test